*,
:host {
  --color-black: #1b1b26;
  --color-beige-light: #f8f0e7;
  --color-beige: #f1e2d0;
  --color-blue: #1e2a92;
  --color-yellow: #f7df3e;

  /* set as styling when text to get 
  reset styles into shadow dom */
  --reset-margin: 0;
  --reset-padding: 0;

  --page-margin-left: 74px;
  --page-content-width: 879px;
  --header-content-width: 519px;
}

html {
  font-family: "JetBrains Mono", monospace;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  background-color: var(--color-beige);
  color: var(--color-black);
  height: 100vh;
  box-sizing: content-box;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

text-element.intro {
  /* margin-left: var(--page-margin-left); */
  color: var(--color-black);
  font-size: var(--p-size);
  line-height: var(--p-line-height);
  width: var(--header-content-width);
}

section {
  padding: 2rem;
  margin-top: 300px;
  max-width: 760px;
  background-color: var(--color-yellow);
}

/* some test for darkmode */
/* body:has():not(.dark) {
  background: #f7f7f7;
  color: #111111;
}
:has(body.dark) {
  background: #111111;
  color: #f7f7f7;
} */
