/* Font faces */
/* Avenir-Roman */
@font-face {
    font-family: Avenir;
    font-weight: 400;
    src: url(./avenirltpro_book.otf) format('opentype');
}

/* Avenir-Medium */
@font-face {
    font-family: Avenir;
    font-weight: 500;
    src: url(./avenirltstd_medium.otf) format('opentype');
}

/* Avenir-Heavy */
@font-face {
    font-family: Avenir;
    font-weight: 800;
    src: url(./avenirltstd_heavy.otf) format('opentype');
}
